
@{
    ViewBag.Title = "AddNumbers1";
}

<h2>AddNumbers1</h2>

@{ if (@ViewBag.result != null)
    {
    <b> Result is :  @ViewBag.result </b> 
    }
    else
    {
<form method="post">
   <label for="txtNo1">Enter No 1</label>
    <input type="number" name="txtNo1" id="txtNo1" /> <br />
    <label for="txtNo2">Enter No 2</label>
    <input type="number" name="txtNo2" id="txtNo2" /> <br />
    <button type="submit" value="Add"/>

</form>
        }
    }

